.header {
    background-color: #3c9fc3;
    color: white;
}

h1.header {
    font-size: 9vw;
}

h2, h3, h4 {
    color: #7bd5d5;
}

form.register {
    border: 1px solid #3c9fc3;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 15px;
}

.img {
    width: 30px;
    height: 30px;
}

.img:hover {
    width: 125px;
    height: 125px;
}

/*Part 1(b)(i) 
Assistive technologies solution 2 - hamburger menu item: adding screen reader compatibility
*/
.screen-reader-text {
  position: absolute; /* Position it out of the flow of the document */
  width: 1px; height: 1px; /* Minimize its size */
  margin: -1px; /* Place it out of the viewport */
  padding: 0; /* Remove padding */
  overflow: hidden; /* Hide any content that overflows its box */
  clip: rect(0, 0, 0, 0); /* Clip the content to a 0 rectangle */
  border: 0; /* Remove borders */
}
